@font-face {
  font-family: "PFBeauSansPro-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular.eot");
  src: url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular.woff") format("woff"), url("../fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  background: #FFFFFF; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    outline: none;
    text-decoration: none; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%; }

h1 {
  letter-spacing: 0.05em;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 50px;
  color: #fff;
  max-width: 800px;
  width: 100%; }

h2 {
  text-transform: uppercase;
  font-size: 36px;
  color: #4F4F4F;
  font-weight: 600;
  line-height: 44px;
  width: 100%;
  margin: 0 auto; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.btn-green {
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  font-weight: 500;
  background: #64A400;
  height: 40px;
  width: 200px; }
  .btn-green:hover {
    background: #538800; }

.bg-grey {
  background: #F2F2F2; }

.w-100 {
  width: 100%; }

header {
  padding: 10px 0 4px;
  background: #fff; }
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #64A400;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold; }

.logo-icon {
  width: 30px; }

.logo-text {
  margin: 0 0 0 15px; }

.btn-menu {
  margin: 0 20px 0 auto;
  color: #64A400;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase; }

.btn-search {
  width: 25px; }

main {
  position: relative; }

.main-slider {
  position: relative;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%); }

.slide-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.main-box {
  padding: 71px 0 319px;
  position: relative; }
  .main-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 24, 24, 0.1)), to(rgba(27, 24, 24, 0.1)));
    background: linear-gradient(0deg, rgba(27, 24, 24, 0.1), rgba(27, 24, 24, 0.1)); }
  .main-box .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.main-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin: 0 0 29px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px; }
  .main-content__item:last-child {
    margin: 0; }
  .main-content__item:first-child .main-content__item-text {
    background: #416B00; }
  .main-content__item:first-child .main-content__item-icon {
    background: #416B00; }
  .main-content__item:hover .main-content__item-text {
    background: #416B00; }
  .main-content__item:hover .main-content__item-icon {
    background: #416B00; }

.main-content__item-text {
  -webkit-box-shadow: 7px 8px 0 #FCFDD9;
          box-shadow: 7px 8px 0 #FCFDD9;
  background: #64A400;
  padding: 13px 2px 14px 45px;
  width: 384px;
  height: 75px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .main-content__item-text .text {
    opacity: 0.89; }

.main-content__item-icon {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #FFFFFF;
    border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #64A400;
  width: 100px;
  height: 100px;
  margin: 0 -33px 0 0;
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 1; }

.slick-slide {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.calendar {
  padding: 170px 0 70px;
  margin: -160px 0 0 0; }
  .calendar h2 {
    text-align: right;
    max-width: 812px;
    margin: 0 0 72px auto;
    color: #333333; }

.calendar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .calendar-content .box-text {
    color: #818183;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    max-width: 311px;
    width: 100%; }
  .calendar-content h3 {
    color: #4F4F4F;
    margin: 0 0 20px;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 600; }

.calendar-slider {
  width: calc(100% - 332px);
  position: relative; }

.calendar-box {
  position: relative;
  width: 100%;
  height: 410px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.calendar-box__image {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.calendar-box__text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #C6B200;
  width: 422px;
  z-index: 2;
  padding: 71px 20px 40px 32px;
  color: #fff; }
  .calendar-box__text h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0 0 90px; }

.list-dots {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 0 0 0 40px; }
  .list-dots li {
    position: relative;
    margin: 0 0 23px;
    padding: 0 0 0 19px; }
    .list-dots li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      background: #ffff;
      border-radius: 50%;
      width: 5px;
      height: 5px; }
    .list-dots li:last-child {
      margin: 0; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #333333;
  border: none;
  outline: none;
  opacity: .75;
  cursor: pointer; }
  .slick-arrow:hover, .slick-arrow:focus {
    outline: none; }

.slick-next {
  background: url("../img/arrow-right.svg") #333333 no-repeat center;
    background-size: 12px;
  right: 0; }

.slick-prev {
  background: url("../img/arrow-left.svg") #333333 no-repeat center;
    background-size: 12px;
  left: 0; }

.events {
  padding: 85px 0 90px; }
  .events .btn {
    margin: 0 0 0 auto;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.events-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 0 0; }

.events-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 420px;
  margin: 0 0 50px;
  border-radius: 10px;
  background: #fff; }

.events-box__image {
  width: 100%;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 10px 10px 0 0; }
  .events-box__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.events-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px 20px 26px;
  color: #333333; }
  .events-box__text .date {
    font-size: 14px;
    line-height: 17px;
    font-family: 'PFBeauSansPro-Regular', sans-serif; }

.events-box__links {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #333333;
  margin: 8px 0; }
  .events-box__links:hover {
    color: #000; }

.category-links {
  color: #64A400;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px; }
  .category-links:hover {
    color: #333; }

.comments {
  padding: 101px 0 74px; }
  .comments .btn {
    margin: 0 0 0 auto; }

.comments-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 41px 0 0 0; }

.comments-box {
  background: #fff;
  border-radius: 10px;
  max-width: 420px;
  width: 100%;
  padding: 20px 20px 27px;
  margin: 0 0 40px; }

.comments-box__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 14px; }
  .comments-box__top .preview {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    margin: 0 19px 0 0;
    width: 100px;
    height: 100px;
    min-width: 100px; }
    .comments-box__top .preview img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.name-user {
  color: #4F4F4F;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px; }
  .name-user h3 {
    font-size: 24px;
    color: #333;
    line-height: 29px;
    margin: 0 0 8px; }

.comments-box__bottom {
  color: #4F4F4F;
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .comments-box__bottom h4 {
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 12px;
    min-height: 60px; }
  .comments-box__bottom .text {
    font-family: 'Open Sans', sans-serif; }
  .comments-box__bottom .category-links {
    margin: 28px 0 0 0; }

.partners {
  padding: 60px 0;
  background: #fff; }
  .partners .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.partners-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  max-width: 640px;
  width: 100%;
  height: 240px;
  position: relative; }
  .partners-box a {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    width: 100%; }
  .partners-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.question {
  padding: 30px 0;
  border-top: 1px solid #64A400;
  border-bottom: 1px solid #64A400; }
  .question .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.question-box {
  width: 310px;
  height: 70px;
  border: 2px solid #64A400;
    border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #64A400;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding: 0 10px 0 20px;
  text-transform: uppercase; }
  .question-box .icon {
    min-width: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 30px 0 0; }
    .question-box .icon svg path {
      fill: #64A400; }
  .question-box:hover {
    color: #333; }

footer {
  padding: 17px 0 25px; }
  footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .logo {
    font-size: 14px;
    line-height: 17px; }
  footer .logo-icon {
    width: 32px; }
  footer .logo-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 181px; }
    footer .logo-text small {
      line-height: 19px;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      text-transform: none; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .menu li {
    margin: 0 30px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      font-size: 14px;
      text-transform: uppercase;
      line-height: 17px;
      color: #333;
      font-family: 'PFBeauSansPro-Regular', sans-serif; }
      .menu li a:hover {
        color: #64A400; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
  .container {
    padding: 0 15px; }
  h1 {
    font-size: 35px;
    max-width: 445px; }
  .events-box {
    max-width: 32%; }
  .comments-box {
    max-width: 32%; }
  .partners-box {
    max-width: 49%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1199px) {
  .comments {
    padding: 70px 0 60px; } }

@media only screen and (max-width: 1100px) {
  .calendar-box__text {
    width: 350px; }
    .calendar-box__text h4 {
      margin: 0 0 40px; }
  .name-user h3 {
    font-size: 18px;
    line-height: normal; }
  .name-user {
    font-size: 16px;
    line-height: normal; } }

@media only screen and (max-width: 992px) {
  .main-content__item {
    font-size: 16px;
    line-height: normal;
    margin: 0 0 20px; }
  .main-content__item-text {
    width: 320px;
    height: 60px;
    -webkit-box-shadow: 4px 5px 0 #FCFDD9;
            box-shadow: 4px 5px 0 #FCFDD9; }
  .main-content__item-icon {
    width: 70px;
    height: 70px;
    padding: 10px; }
  .main-box {
    padding: 70px 0 250px; }
  h2 {
    font-size: 30px;
    line-height: normal; }
  .calendar-slider {
    width: 100%;
    margin: 40px 0 0 0; }
  .calendar-content .box-text {
    width: 100%;
    max-width: none; }
  .calendar-content h3 {
    font-size: 28px;
    line-height: normal; }
  .calendar-content .box-text {
    font-size: 16px;
    line-height: normal; }
  .calendar-box__text {
    padding: 50px 20px 30px 40px; }
  .events {
    padding: 50px 0 55px; }
  .events-box__links {
    font-size: 16px; }
  .events-box {
    max-width: 48%; }
  .comments-box {
    max-width: 48%; }
  .comments .btn {
    margin: 0 auto; }
  .partners-box a {
    font-size: 20px;
    line-height: normal; }
  .partners-box {
    height: 200px; }
  .question-box {
    width: 280px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 870px) {
  .question-box {
    width: 100%;
    margin: 0 0 10px; }
    .question-box:last-child {
      margin: 0; }
  .menu li {
    margin: 0 15px 0 0; }
    .menu li a {
      font-size: 12px; } }

@media only screen and (max-width: 840px) {
  .main-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  h1 {
    width: 100%;
    max-width: none;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 30px;
    line-height: normal; }
    h1 br {
      display: none; }
  .main-content {
    margin: 0 auto; }
  h2 {
    font-size: 26px; } }

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 16px;
    line-height: normal; }
  .logo-text {
    max-width: 180px; }
  .btn-menu {
    font-size: 16px; }
  .btn-search {
    width: 20px; }
  .calendar-box__text {
    padding: 50px 20px 30px 40px; }
    .calendar-box__text h4 {
      font-size: 18px;
      line-height: normal; }
  .list-dots {
    font-size: 16px; }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .menu {
    margin: 20px auto 0;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .menu li {
      margin: 0 0 5px; }
      .menu li:last-child {
        margin: 0 0 5px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 670px) {
  .calendar-box__text {
    width: 300px; }
  .list-dots {
    padding: 0; }
  .calendar-box {
    height: 350px; }
  .events-box__image {
    height: 200px; }
  .comments-box {
    max-width: none; }
  .partners-box {
    max-width: none;
    margin: 0 0 30px;
    height: 150px; }
    .partners-box a {
      font-size: 18px; }
    .partners-box:last-child {
      margin: 0; }
  .partners {
    padding: 40px 0; } }

@media only screen and (max-width: 575px) {
  .calendar-box {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .calendar-box__text {
    position: relative;
    height: auto;
    padding: 50px 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
  .calendar-content h3 {
    font-size: 20px; } }

@media only screen and (max-width: 480px) {
  .logo {
    font-size: 12px; }
  .logo-text {
    max-width: 135px; }
  h1 {
    font-size: 23px; }
  h2 {
    font-size: 21px; }
  .main-content__item {
    font-size: 14px; }
  .main-content__item-text {
    width: 250px; }
  .main-slider {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%); }
  .main-box {
    padding: 70px 0 100px; }
  .calendar {
    margin: -100px 0 0 0;
    padding: 130px 0 50px; }
    .calendar h2 {
      text-align: center;
      margin: 0 auto 40px; }
  .list-dots li {
    margin: 0 0 15px; }
  .events-box {
    max-width: none;
    margin: 0 0 30px; }
  .events .btn {
    margin: 0 auto; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .comments-box__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .comments-box__top .preview {
      margin: 0 auto 10px; } }
